[submodule "tablero"]
	path = tablero
	url = https://github.com/juansebasdev/sescca_interface.git
[submodule "web"]
	path = web
	url = https://github.com/juansebasdev/sescca_web.git
[submodule "prototipo2"]
	path = prototipo2
	url = https://github.com/juansebasdev/sescca.git
