[submodule "SESCCA-SW-AppProtPup"]
	path = SESCCA-SW-AppProtPup
	url = https://github.com/juansebasdev/sescca.git
[submodule "SESCCA-SW-AppTab"]
	path = SESCCA-SW-AppTab
	url = https://github.com/juansebasdev/sescca_interface.git
[submodule "SESCCA-SW-AppSESCCA"]
	path = SESCCA-SW-AppSESCCA
	url = https://github.com/juansebasdev/sescca_web.git
